@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}
iframe{
	max-width: 100%;
}
body{
	
	font-family: "Georama", sans-serif;
	background-image: url('../images/bg6.jpeg');
	padding-top: 60px;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}
.menu{
	background: rgba(0, 0, 0, 0.7);
	padding: 18px;
}
.menu ul{
	display: flex;
	justify-content: center;
}

.menu ul li{
	list-style: none;
}

.menu ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 18px;
	display: inline-block;
	font-size: 20px;
	font-family: "Georama", sans-serif;
	border-bottom: 2px solid transparent;
}

.menu ul li a:hover{
	color: #2980b9;
	border-bottom: 2px solid #2980b9;
}

.contact-area{

}

.contact-form{	
}

.contact-form h2{
	font-weight: 600;
	text-align: center;
	margin: 70px 0 0 0;
	font-size: 40px;
}

.contact-form .contact-box{
	margin: 20px auto;
	width: 50%;
	padding: 50px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 5px 5px 10px gray;
	margin-bottom: 40px;
}

.contact-box input{
	width: 90%;
	padding: 12px;
	margin: 5px 0 12px 0;
	border-radius: 10px;
	border: 1px solid gray;
	outline: none;
}

.contact-box textarea{
	width: 90%;
	padding: 10px;
	height: 120px;
	margin: 5px 0 12px 0;
	border-radius: 10px;
	border: 1px solid gray;
	outline: none;
}

.contact-button button{
	color: white;
	width: 92%;
	padding: 14px;
	background-color: #0984e3;
	border-radius: 10px;
	font-size: 16px;
}

.office1{
	text-align: center;
}

.social-media ul{
	display: flex;
	justify-content: center;
}
.social-media ul li{
	list-style: none;
	font-size: 30px;
	margin: 10px;
}

.map1{
	text-align: center;
	margin: 20px 0;
}

