@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}
body{
	padding-top: 60px;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

.menu{
	background: rgba(0, 0, 0, 0.7);
	padding: 18px;
}
.menu ul{
	display: flex;
	justify-content: center;
}

.menu ul li{
	list-style: none;
}

.menu ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 18px;
	display: inline-block;
	font-size: 20px;
	font-family: "Georama", sans-serif;
	border-bottom: 2px solid transparent;
}
.menu ul li a:hover{
	color: #2980b9;
	border-bottom: 2px solid #2980b9;
}
.menu-area h2{
	text-align: center;
	margin: 30px 0 60px 0px;
	font-size: 30px;
}
.menu-area{
	width: 60%;
	margin: 0 auto;
	background: white;
	padding: 10px;
}
.food-items{
	display: flex;
	flex-wrap: wrap;
}
.food-box{
	text-align: center;
	margin: 10px;
	box-shadow: 5px 5px 10px gray;
	background: white;
	padding: 20px 10px;
	width: 20%;
}

.food-box .grey1{
	color: grey;
}


.food-box .green1{
	color: green;
}

.food-box button{
	background: black;
	color: white;
	padding: 10px 20px;
	border-radius: 25px;
	margin-top: 17px;
}

.cart1{
	position: absolute;
	top: 20px;
	right: 20px;
}

.cart1 ul{
	display: flex;
}

.cart1 ul li{
	list-style: none;
	font-size: 25px;
	color: orange;
}